<div class="container">
    <h2>Изменение фильма:</h2>
    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
        <div class="form-group">
            <label for="title">Название:</label>
            <input type="text" appTrim id="title" name="title" class="form-control" [(ngModel)]="movie.title" required>
        </div>
        <div class="form-group">
            <label for="posterUrl">Ссылка на постер:</label>
            <input type="text" id="posterUrl" name="posterUrl" class="form-control" [(ngModel)]="movie.posterUrl"
                required>
        </div>
        <div class="form-group">
            <label for="rating">Рейтинг:</label>
            <input type="number" id="rating" name="rating" class="form-control" [(ngModel)]="movie.rating" required>
        </div>
        <div class="form-group">
            <label for="description">Описание:</label>
            <textarea id="description" name="description" class="form-control" [(ngModel)]="movie.description"
                required></textarea>
        </div>

        <div class="form-group">
            <label for="awards">Награды:</label>
            <input type="checkbox" id="awards" name="awards" [(ngModel)]="movie.hasAward">

            <ng-container>
                <div *ngFor="let award of movie.awards; let i = index" class="award-group">
                    <input type="text" name="awardTitle{{ i }}" class="form-control" [(ngModel)]="movie.awards[i]"
                        placeholder="Название награды" [disabled]="!movie.hasAward">
                </div>
                <button type="button" class="btn btn-success" (click)="addAward()" [disabled]="!movie.hasAward">Добавить
                    награду</button>
            </ng-container>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>