<div [formGroup]="adminCheck" class="admin">
    <div class="checkbox-container">
        <input type="checkbox" formControlName="isSuperUser" (change)="toggleAdminButton()" id="isSuperUser">
        <label for="isSuperUser">Суперпользователь</label>
    </div>

    <button *ngIf="showAdminButton" (click)="redirectToAdmin()" class="admin-button">Админ</button>
</div>

<div [formGroup]="searchMovie" class="search-container">
    <input type="text" formControlName="searchText"
           placeholder="Поиск по названию" class="search-input">
</div>

<div *ngFor="let movie of movies" class="movie-item">
    <img [src]="movie.posterUrl" alt="{{ movie.title }}" class="movie-poster" (click)="openModal(movie.posterUrl)">
    <div class="movie-details">
        <h2>
            <a [routerLink]="['/movies', movie.id]">{{ movie.title }}</a>
        </h2>
        <p class="movie-rating">Рейтинг: {{ movie.rating }}</p>
        <p class="movie-description">{{ movie.description }}</p>
    </div>
</div>
